<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.cnpc.mapper.ExchangeMapper">

	<insert id="receiveDITData" useGeneratedKeys="true" keyProperty="id" parameterType="hashmap">
		insert into tbl_cnpc_dit (
			record_id, org_code, machine, biz_id, oil_type, quantity, price, money, biz_date, start_pump, end_pump, record_date, client_date, create_date
		) values (
			#{recordId,jdbcType=VARCHAR}, 
			#{orgCode,jdbcType=VARCHAR}, 
			#{machine,jdbcType=VARCHAR}, 
			#{bizId,jdbcType=VARCHAR}, 
			#{oilType,jdbcType=VARCHAR}, 
			#{quantity,jdbcType=NUMERIC},
			#{price,jdbcType=NUMERIC}, 
			#{money,jdbcType=NUMERIC}, 
			#{bizDate,jdbcType=VARCHAR}, 
			#{startPump,jdbcType=VARCHAR},
			#{endPump,jdbcType=VARCHAR},
			#{recordDate,jdbcType=VARCHAR},
			#{clientDate,jdbcType=VARCHAR},
			now()
		)
	</insert>

	<select id="checkLPRDataById" parameterType="hashmap" resultType="int">
		select count(*) from tbl_cnpc_vehicle_record where record_id = #{recordId,jdbcType=NUMERIC}
	</select>
	
	<insert id="receiveLPRData" useGeneratedKeys="true" keyProperty="id" parameterType="hashmap">
		insert into tbl_cnpc_vehicle_record (
			org_code, record_id, vehicle_id, license_plate, vehicle_type, in_time, out_time, stay_time, in_gate, out_gate, record_date, client_date, create_date
		) values (
			#{orgCode,jdbcType=VARCHAR}, 
			#{recordId,jdbcType=NUMERIC}, 
			#{vehicleId,jdbcType=NUMERIC}, 
			#{licensePlate,jdbcType=VARCHAR}, 
			#{vehicleType,jdbcType=VARCHAR}, 
			#{inTime,jdbcType=VARCHAR},
			#{outTime,jdbcType=VARCHAR},
			#{stayTime,jdbcType=VARCHAR}, 
			#{inGate,jdbcType=VARCHAR}, 
			#{outGate,jdbcType=VARCHAR},
			#{recordDate,jdbcType=VARCHAR},
			#{clientDate,jdbcType=VARCHAR},
			NOW()
		)
	</insert>
	
	<insert id="insertVehicle" useGeneratedKeys="true" keyProperty="id" parameterType="hashmap">
		insert into tbl_vio_vehicle (
			xh,hpzl,hphm,syr,clpp1,clpp2,clxh,csys,syxz,ccdjrq,djrq,yxqz,qzbfqz,bxzzrq,dabh,zt,gxrq,clsbdh,fdjh,sfzmhm,lxdh,sjhm,fzrq,data_type,create_date
		) values (
			#{xh,jdbcType=VARCHAR},
			#{hpzl,jdbcType=VARCHAR},
			#{hphm,jdbcType=VARCHAR},
			#{syr,jdbcType=VARCHAR},
			#{clpp1,jdbcType=VARCHAR},
			#{clpp2,jdbcType=VARCHAR},
			#{clxh,jdbcType=VARCHAR},
			#{csys,jdbcType=VARCHAR},
			#{syxz,jdbcType=VARCHAR},
			#{ccdjrq,jdbcType=VARCHAR},
			#{djrq,jdbcType=VARCHAR},
			#{yxqz,jdbcType=VARCHAR},
			#{qzbfqz,jdbcType=VARCHAR},
			#{bxzzrq,jdbcType=VARCHAR},
			#{dabh,jdbcType=VARCHAR},
			#{zt,jdbcType=VARCHAR},
			#{gxrq,jdbcType=VARCHAR},
			#{clsbdh,jdbcType=VARCHAR},
			#{fdjh,jdbcType=VARCHAR},
			#{sfzmhm,jdbcType=VARCHAR},
			#{lxdh,jdbcType=VARCHAR},
			#{sjhm,jdbcType=VARCHAR},
			#{fzrq,jdbcType=VARCHAR},
			#{dataType,jdbcType=VARCHAR},
			now()
		)
	</insert>	
	
	<select id="getVehicleInfo" parameterType="hashmap" resultType="hashmap">
		select id from tbl_vio_vehicle where hphm = #{licensePlate,jdbcType=VARCHAR} and hpzl = #{vehicleType,jdbcType=VARCHAR}
	</select>	
</mapper>






