<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.cnpc.mapper.GoodsCategoryMapper">

	<resultMap type="GoodsCategoryObj" id="resultMap">
		<id property="id" column="id" />
		<result property="parentId" column="parent_id" />
		<result property="name" column="name" />
		<result property="orderNum" column="order_num" />
		<result property="hide" column="hide" />
		<result property="remark" column="remark" />
		<result property="childs" column="childs" />
		<result property="parentName" column="parent_name" />
		<result property="checked" column="checked" />
	</resultMap>
	
	<sql id="table">
		tbl_cnpc_goods_category
	</sql>
	
	<sql id="columns">
		 id,parent_id,name,order_num,hide,remark
	</sql>
	
	<sql id="conditions">
		<where>
			<if test="id!=null">
				and id = #{id,jdbcType=NUMERIC}
			</if>
			<if test="parentId!=null">
				and parent_id = #{parentId,jdbcType=NUMERIC}
			</if>
		</where>
	</sql>
	
	<select id="list" parameterType="GoodsCategoryObj" resultMap="resultMap">
		select <include refid="columns"/>, (select count(*) from <include refid="table"/> where parent_id = t.id) as childs  
		from <include refid="table"/> t
		where t.parent_id = #{parentId}
		order by t.id asc
	</select>
	
	<select id="getById" parameterType="java.lang.Long" resultMap="resultMap">
		select a.<include refid="columns"/>,(select name from tbl_cnpc_goods_category where id = a.parent_id) as parent_name
		from <include refid="table"/> a
		where a.id = #{id,jdbcType=NUMERIC}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="GoodsCategoryObj">
		insert into <include refid="table" /> (
			parent_id, name ,order_num, hide, remark
		) values (
			#{parentId,jdbcType=NUMERIC}, 
			#{name,jdbcType=VARCHAR}, 
			#{orderNum,jdbcType=NUMERIC}, 
			#{hide,jdbcType=VARCHAR}, 
			#{remark,jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="query" parameterType="long" resultMap="resultMap">
      select 
      a.id,parent_id,a.name,(select count(*) from tbl_cnpc_goods_category where parent_id=a.id) as childs,
      (case when b.category_id = a.id then 'true' else 'false' end) as checked
      from tbl_cnpc_goods_category a left join (select category_id from tbl_cnpc_goods where id=#{id,jdbcType=NUMERIC}) b on a.id=b.category_id
       order by a.id asc
	</select>
	
	<update id="update" parameterType="GoodsCategoryObj">
		update <include refid="table" />
		<set>
			<if test="parentId != null and parentId != ''">parent_id = #{parentId,jdbcType=NUMERIC},</if>
			<if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
			<if test="orderNum != null and orderNum != ''">order_num = #{orderNum,jdbcType=NUMERIC},</if>
			<if test="hide != null and hide != ''">hide = #{hide,jdbcType=VARCHAR},</if>
			<if test="remark != null and remark != ''">remark = #{remark,jdbcType=VARCHAR},</if>
		</set>
		where id = #{id}
	</update>
	
	<select id="checkChilds" parameterType="java.lang.Long" resultType="java.lang.Integer">
		select 
			count(*) 
		from 
			<include refid="table" />
		where parent_id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="checkGoods" parameterType="java.lang.Long" resultType="java.lang.Integer">
		select 
			count(*)
		from 
			tbl_cnpc_goods
		where category_id = #{id,jdbcType=NUMERIC}
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from
			<include refid="table" />
		where id = #{id,jdbcType=NUMERIC}
	</delete>
</mapper>