<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.cnpc.mapper.MonitorMapper">
	
	<!-- 待支付 -->
	<resultMap type="hashmap" id="queryWaitPayResult">
		<result property="licensePlate" column="license_plate" />
		<result property="inTime" column="in_time" />
	</resultMap>
	
	<select id="queryWaitPay" parameterType="hashmap" resultMap="queryWaitPayResult">
		select license_plate,in_time from v_cnpc_order_query where pay_type='-' order by in_time desc  limit 18	
	</select>
	
	<!-- 已支付数据 -->
	<resultMap type="hashmap" id="queryPaidResult">
		<result property="id" column="id" />
		<result property="machine" column="machine" />
		<result property="licensePlate" column="license_plate" />
		<result property="quantity" column="quantity" />
		<result property="money" column="money" />
		<result property="payType" column="pay_type" />
	</resultMap>
	
	<select id="queryPaid" parameterType="hashmap" resultMap="queryPaidResult">
		<![CDATA[
			select 
			a.license_plate,a.in_time,b.operator,b.id,
			(case when b.pay_type='1' then '现金' when b.pay_type='2' then '便利店支付' else '-' end) as pay_type,
			get_code('OIL_GUN_CODE',c.machine) as machine,
			(case when c.oil_type='3' then '92#' when c.oil_type='4' then '95#' when c.oil_type='2' then '98#' else '-' end) as oil_type,
			c.price,c.quantity,c.money,d.name
			from tbl_cnpc_vehicle_record a left join tbl_cnpc_dit_vehicle b on a.id=b.lpr_id
			left join tbl_cnpc_dit c on c.id=b.dit_id
			left join tbl_cnpc_operator d on b.operator=d.code
			where b.pay_type<>'-'
			order by b.id desc limit 18
		]]>
	</select>	
	
</mapper>






