<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.cnpc.mapper.POSMapper">

	<resultMap type="QueryLPRObj" id="queryLPRDataResult">
		<id property="id" column="id" />
		<result property="vehicleId" column="vehicle_id" />
		<result property="licensePlate" column="license_plate" />
		<result property="vehicleType" column="vehicle_type" />
		<result property="inTime" column="in_time" />
		<result property="clientDate" column="client_date" />
	</resultMap>
	
	<select id="queryLPRData" parameterType="hashmap" resultMap="queryLPRDataResult">
		select id, vehicle_id, license_plate, vehicle_type, in_time, client_date
		from tbl_cnpc_vehicle_record 
		where record_date=#{queryDate,jdbcType=VARCHAR} and status=#{status,jdbcType=VARCHAR}
		order by in_time desc
	</select>
	
	
	<resultMap type="QueryDITObj" id="queryDITDataResult">
		<id property="id" column="id" />
		<result property="machine" column="machine" />
		<result property="oilType" column="oil_type" />
		<result property="quantity" column="quantity" />
		<result property="price" column="price" />
		<result property="money" column="money" />
		<result property="bizDate" column="biz_date" />
		<result property="clientDate" column="client_date" />
	</resultMap>
	
	<select id="queryDITData" parameterType="hashmap" resultMap="queryDITDataResult">
		select 
		id, get_code('OIL_GUN_CODE',machine) as machine, quantity, price, money,
		(case when oil_type='3' then '92#' when oil_type='4' then '95#' when oil_type='2' then '98#' else '-' end) as oil_type,
		biz_date, client_date
		from tbl_cnpc_dit
		where record_date = #{queryDate,jdbcType=VARCHAR} and status=#{status,jdbcType=VARCHAR}
		order by id desc limit 100
	</select>
	
	<insert id="bindOrder" useGeneratedKeys="true" keyProperty="id" parameterType="hashmap">
		insert into tbl_cnpc_dit_vehicle (
			dit_id, lpr_id, vehicle_id, operator, pay_type, create_date
		) values (
			#{ditId,jdbcType=VARCHAR}, 
			#{lprId,jdbcType=VARCHAR}, 
			#{vehicleId,jdbcType=VARCHAR}, 
			#{operator,jdbcType=VARCHAR}, 
			#{payType,jdbcType=VARCHAR}, 
			now()
		)
	</insert>
	
	<update id="updateLPRStatus" parameterType="hashmap">
		update tbl_cnpc_vehicle_record set status='1' where id=#{vehicleId,jdbcType=NUMERIC}
	</update>	
	<update id="updateDITStatus" parameterType="hashmap">
		update tbl_cnpc_dit set status='1' where id=#{ditId,jdbcType=NUMERIC}
	</update>	
</mapper>






