<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.sysapp.mapper.SysDictionaryMapper">

	<resultMap type="SysDictionaryObj" id="resultMap">
		<id property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="value" column="value" />
		<result property="remark" column="remark" />
		<result property="orderNum" column="order_num" />
		<result property="ext1" column="ext1" />
		<result property="ext2" column="ext2" />
		<result property="ext3" column="ext3" />
	</resultMap>
	
	<sql id="table">
		tbl_sys_dictionary
	</sql>
	
	<sql id="columns">
		 id, code, name, value, remark, order_num, ext1, ext2, ext3
	</sql>
	
	<sql id="orderby">
		 order by order_num asc
	</sql>
	
	<sql id="conditions">
		<where>
			<if test="id!=null">
				and id = #{id,jdbcType=NUMERIC}
			</if>
			<if test="code != null and code != ''">
				and code = #{code,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	
	<select id="getById" parameterType="long" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="getByCode" parameterType="string" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		where code = #{code}
	</select>
	
	<select id="getRow" parameterType="sysDictionaryObj" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		where code = #{code, jdbcType=VARCHAR} and value = #{value, jdbcType=VARCHAR} limit 1
	</select>	
	
	<select id="checkCode" parameterType="string" resultType="int">
		select count(*) from 
		<include refid="table"/>
		where code = #{code}
	</select>
	
	<select id="list" parameterType="SysDictionaryObj" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		<include refid="conditions"/> 
		<include refid="orderby"/> 
	</select>
	
	<select id="listByCode" parameterType="string" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		where code = #{code, jdbcType=VARCHAR}
		<include refid="orderby"/> 
	</select>
	
	<select id="edit" parameterType="SysDictionaryObj" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		<include refid="conditions"/> 
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="SysDictionaryObj">
		insert into <include refid="table" /> (
			code, name, value, remark, order_num, ext1, ext2, ext3
		) values (
			#{code, jdbcType=VARCHAR}, 
			#{name, jdbcType=VARCHAR}, 
			#{value, jdbcType=VARCHAR}, 
			#{remark,jdbcType=VARCHAR},
			#{orderNum,jdbcType=NUMERIC},
			#{ext1, jdbcType=VARCHAR}, 
			#{ext2, jdbcType=VARCHAR}, 
			#{ext3, jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="SysDictionaryObj">
		update <include refid="table" />
		<set>
			<if test="name != null and name != ''">name = #{name, jdbcType=VARCHAR},</if>
			<if test="value != null and value != ''">value = #{value, jdbcType=VARCHAR},</if>
			<if test="remark != null and remark != ''">remark = #{remark, jdbcType=VARCHAR},</if>
			<if test="orderNum != null and orderNum != ''">order_num = #{orderNum, jdbcType=NUMERIC},</if>
			<if test="ext1 != null and ext1 != ''">ext1 = #{ext1, jdbcType=VARCHAR},</if>
			<if test="ext2 != null and ext2 != ''">ext2 = #{ext2, jdbcType=VARCHAR},</if>
			<if test="ext3 != null and ext3 != ''">ext3 = #{ext3, jdbcType=VARCHAR},</if>
		</set>
		where id = #{id, jdbcType=NUMERIC}
	</update>

	<delete id="delete" parameterType="SysDictionaryObj">
		delete from <include refid="table" /> 
		<include refid="conditions"/> 
	</delete>
	
</mapper>