<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.sysapp.mapper.SysLogMapper">

	<resultMap type="SysLogObj" id="resultMap">
		<id property="id" column="id" />
		<result property="methodName" column="method_name" />
		<result property="className" column="class_name" />
		<result property="userCode" column="user_code" />
		<result property="remark" column="remark" />
		<result property="inputValue" column="input_value" />
		<result property="returnValue" column="return_value" />
		<result property="runTime" column="run_time" />
		<result property="retCode" column="ret_code" />
		<result property="retMsg" column="ret_msg" />
		<result property="errMsg" column="err_msg" />
		<result property="logIP" column="log_ip" />
		<result property="sessionId" column="session_id" />
		<result property="logDate" column="log_date" />
	</resultMap>
	
	<sql id="table">
		tbl_sys_log
	</sql>
	
	<sql id="columns">
		 id, method_name, class_name, user_code, remark, input_value, return_value, run_time, ret_code, ret_msg, err_msg, log_ip, session_id, log_date
	</sql>
	
	<sql id="orderby">
		 order by id desc
	</sql>
	
	<sql id="conditions">
		<where>
			<if test="id != null and id != ''">
				and id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="userCode != null and userCode != ''">
				and user_code = #{userCode,jdbcType=VARCHAR}
			</if>
			<if test="retCode != null and retCode != ''">
				and ret_code = #{retCode,jdbcType=NUMERIC}
			</if>
			<if test="sessionId != null and sessionId != ''">
				and session_id = #{sessionId,jdbcType=NUMERIC}
			</if>
			<if test="remark != null and remark != ''">
				and remark like CONCAT('%', #{remark}, '%')
			</if>
			<if test="logIP != null and logIP != ''">
				and log_ip = #{logIP,jdbcType=NUMERIC}
			</if>
			<if test="startDate != null and startDate != ''">
				and date_format(log_date,'%Y-%m-%d') >= #{startDate,jdbcType=VARCHAR}
			</if>
			<if test="endDate != null and endDate != ''">
				<![CDATA[and date_format(log_date,'%Y-%m-%d') <= #{endDate,jdbcType=VARCHAR}]]>
			</if>
		</where>
	</sql>
	
	<select id="getById" parameterType="string" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="count" parameterType="map" resultType="int">
		select count(*) from 
		<include refid="table"/>
		<include refid="conditions"/>
	</select>
		
	<select id="listPage" parameterType="map" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		<include refid="conditions"/> 
		<include refid="orderby"/> 
	</select>

	<insert id="insert" parameterType="SysLogObj">
		insert into <include refid="table" /> (
			id, method_name, class_name, user_code, remark, input_value, return_value, run_time, ret_code, ret_msg, err_msg, log_ip, session_id, log_date
		) values (
			#{id, jdbcType=VARCHAR},
			#{methodName, jdbcType=VARCHAR},
			#{className, jdbcType=VARCHAR},
			#{userCode, jdbcType=VARCHAR},
			#{remark, jdbcType=VARCHAR},
			#{inputValue, jdbcType=VARCHAR},
			#{returnValue, jdbcType=VARCHAR},
			#{runTime, jdbcType=VARCHAR},
			#{retCode, jdbcType=VARCHAR},
			#{retMsg, jdbcType=VARCHAR},
			#{errMsg, jdbcType=VARCHAR},
			#{logIP, jdbcType=VARCHAR},
			#{sessionId, jdbcType=VARCHAR},
			now()
		)
	</insert>

	<delete id="deleteById" parameterType="string">
		delete from <include refid="table" /> 
		<include refid="conditions"/> 
	</delete>
</mapper>