<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.sysapp.mapper.SysUserRoleMapper">

	<sql id="table">
		tbl_sys_user_role
	</sql>

	<delete id="deleteByRoleId" parameterType="java.lang.Long">
		delete from <include refid="table"/> where role_id = #{roleId,jdbcType=NUMERIC}
	</delete>

	<delete id="deleteByUserId" parameterType="java.lang.Long">
		delete from <include refid="table"/> where user_id = #{userId,jdbcType=NUMERIC}
	</delete>
	
	<insert id="insert" parameterType="SysUserRoleObj">
		insert into <include refid="table"/> (
			user_id,role_id
		) values (
			#{userId,jdbcType=NUMERIC},#{roleId,jdbcType=NUMERIC}
		)
	</insert>
</mapper>