<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.cms.mapper.SiteMapper">

	<resultMap type="SiteObj" id="resultMap">
		<id property="id" column="id" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="remark" column="remark" />
	</resultMap>
	
	<sql id="table">
		tbl_cms_site
	</sql>
	
	<sql id="columns">
		 id, code, name, remark
	</sql>
	
	<sql id="conditions">
		<where>
			<if test="id!=null">
				and id = #{id,jdbcType=NUMERIC}
			</if>
			<if test="code != null and code != ''">
				and code = #{code,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	
	<select id="checkCode" parameterType="string" resultType="int">
		select count(*) from 
		<include refid="table"/>
		where code = #{code,jdbcType=VARCHAR}
	</select>
	
	<select id="list" parameterType="SiteObj" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		<include refid="conditions"/> 
	</select>
	
	<select id="edit" parameterType="SiteObj" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		<include refid="conditions"/> 
	</select>
	
	<select id="getById" parameterType="long" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		where id = #{id,jdbcType=NUMERIC}
	</select>

	<insert id="insert" parameterType="SiteObj" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="table" /> (
			code, name, remark
		) values (
			#{code,jdbcType=VARCHAR}, 
			#{name,jdbcType=VARCHAR}, 
			#{remark,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="SiteObj">
		update <include refid="table" />
		<set>
			<if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
			<if test="remark != null and remark != ''">remark = #{remark,jdbcType=VARCHAR},</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>

	<delete id="delete" parameterType="SiteObj">
		delete from <include refid="table" /> 
		<include refid="conditions"/> 
	</delete>
	
</mapper>















