<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhby.cms.mapper.UserMapper">

	<resultMap type="UserObj" id="resultMap">
		<id property="id" column="id" />
		<result property="siteId" column="site_id" />
		<result property="code" column="code" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="userType" column="user_type" />
		<result property="status" column="status" />
		<result property="errCount" column="err_count" />
	</resultMap>
	
	<sql id="table">
		tbl_cms_user
	</sql>
	
	<sql id="columns">
		 id, site_id, code, password, name, user_type, status, err_count
	</sql>
	
	<sql id="conditions">
		<where>
			<if test="id!=null">
				and id = #{id,jdbcType=NUMERIC}
			</if>
			<if test="code != null and code != ''">
				and code = #{code,jdbcType=VARCHAR}
			</if>
			<if test="password != null and password != ''">
				and password = #{password,jdbcType=VARCHAR}
			</if>
			<if test="siteId != null and siteId != ''">
				and site_id = #{siteId,jdbcType=NUMERIC}
			</if>
		</where>
	</sql>
	
	<select id="getById" parameterType="long" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="getByCode" parameterType="string" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		where code = #{code,jdbcType=VARCHAR}
	</select>
	
	<select id="checkCode" parameterType="string" resultType="int">
		select count(*) from 
		<include refid="table"/>
		where code = #{code,jdbcType=VARCHAR}
	</select>
	
	<select id="list" parameterType="UserObj" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		<include refid="conditions"/> 
	</select>
	
	<select id="edit" parameterType="UserObj" resultMap="resultMap">
		select <include refid="columns"/>  
		from <include refid="table"/> 
		<include refid="conditions"/> 
	</select>

	<insert id="insert" parameterType="UserObj" useGeneratedKeys="true" keyProperty="id">
		insert into <include refid="table" /> (
			site_id, code, password, name, user_type, status
		) values (
			#{siteId,jdbcType=NUMERIC}, 
			#{code,jdbcType=VARCHAR}, 
			#{password,jdbcType=VARCHAR}, 
			#{name,jdbcType=VARCHAR}, 
			#{userType,jdbcType=VARCHAR}, 
			#{status,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="UserObj">
		update <include refid="table" />
		<set>
			<if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
			<if test="password != null and password != ''">password = #{password,jdbcType=VARCHAR},</if>
			<if test="userType != null and userType != ''">user_type = #{userType,jdbcType=VARCHAR},</if>
			<if test="status != null and status != ''">status = #{status,jdbcType=VARCHAR},</if>
			<if test="errCount != null and errCount != ''">err_count = #{errCount},</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>

	<delete id="delete" parameterType="UserObj">
		delete from <include refid="table" /> 
		<include refid="conditions"/> 
	</delete>
	
</mapper>















